@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

.dashboard-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: min-content 1fr 1fr;
	gap: 0px 0px;
	height: 100vh;
	height: 100dvh;
	max-width: 1300px;
	overflow-x: hidden;
	grid-auto-flow: row;
	grid-template-areas:
		'work work navbar'
		'work work main'
		'work work chat';

	--tw-bg-opacity: 1;
	background-color: rgb(82 82 91 / var(--tw-bg-opacity));
	margin: 0 auto;
}

.chat {
	grid-area: chat;
  --tw-bg-opacity: 1;
	background-color: rgb(82 82 31 / var(--tw-bg-opacity));
}

.main {
	grid-area: main;
  --tw-bg-opacity: 1;
	background-color: rgb(23 82 91 / var(--tw-bg-opacity));
}

.navbar {
	grid-area: navbar;
  --tw-bg-opacity: 1;
	background-color: rgb(82 22 91 / var(--tw-bg-opacity));
}

.work {
	grid-area: work;
  --tw-bg-opacity: 1;
	background-color: rgb(82 22 21 / var(--tw-bg-opacity));
}
